@charset "utf-8";
.navbar.navbar-inverse.navbar-fixed-top .navbar-header .navbar-brand {
	color: #FFFFFF;
	font-size: xx-large;
}
.nav.navbar-nav .dropdown #Auction {
	color: #FFFFFF;
	width: 90px;
	text-align: center;
}
.nav.navbar-nav #navbar_gong #gongdong {
	width: 100px;
	text-align: center;
	color: #FFFFFF;
}
.nav.navbar-nav .dropdown #Board {
	color: #FFFFFF;
	width: 100px;
}
.nav.navbar-nav .dropdown #Service {
	text-align: center;
	color: #FFFFFF;
	width: 100px;
}
#navright li #nav_login {
	color: #FFFFFF;
	margin-right: 80px;
}
